<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid text-center" style="background:black;height:70px;">
    <div class="well text-center text-inline sticky-top" style="background:black">
        <h1 style="color:steelblue;height:55px">REAL WORLD<small style="color:grey">OBJECT DETECTION</small></h1>
    </div>
</div>
<hr>
<div class="shadow py-5">

    <div class="row">
        <div class=" col-sm-4">
        </div>
        <div class="col-sm-4 text-center">
            <h3>Click to open webcam</h3>
        </div>
<br>
        <br>
        <div class="col-sm-12 text-right  text-inline">
            <form action="{{url_for('click')}}">
                <div class="form-group text-inline" align="center">
                    <i class="fas fa-camera" ></i>&nbsp;&nbsp;&nbsp;<button type="submit" class="btn shadow-lg" style="background:steelblue;color:white">Web cam</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer">
     <p class="text-center">&copy;copyrights reserved 2020</p>
    </div>
</div>
</body>
</html>
